*{
    margin:0;
    padding:0;
}
body{
background-color: #ffB;
}
h1{
    background-color: #083D77;
    color:#EBEBD3;
    height:5rem;
    line-height:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width:30rem;
    margin:auto;
    border-radius: 2rem;
    margin-top: 2rem;;
}
.choice{
    height: 100px;
    width:100px;  
    background-color: rgb(227, 35, 67);
    border-radius: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    object-fit: cover;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top:5rem;
}
.choice:hover{
    opacity: 0.7;
    background-color: rgb(197, 63, 5);

}
.scoreboard{

    display: flex;
    justify-content:center;
    align-items:center;
    font-size:1rem;
    gap:3rem;
    margin-top:2rem;
}
#user-score ,#comp-score{
    font-size: 3rem;
}
.msg-con{
    margin-top:3rem;
}
#msg{
    background-color: #083D77;
    font-size: 2rem;
    border-radius: 1rem;
    color:rgb(218, 215, 213);
    line-height:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    inline-size: auto;
}